body {
    background-color: #eaeaea;
    overflow-y:scroll;
}
svg {
    overflow: hidden;
}
text {
    fill: #000000;
}
#chart svg {
    height: 800px;
}
.vdvactive{
	background-color: #f5f7d8;
	font-weight: bold;
}
.tableContain{
	height: 800px;
	overflow-y: scroll;
}
#scatterScope{
	margin-top: 65px;
}